<p id="notice"><%= notice %></p>

<h1>Listing Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Red</th>
      <th>Purchased on</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.red_id %></td>
        <td><%= library.purchased_on %></td>
        <td><%= library.user_id %></td>
        <td><%= library.description %></td>
        <td><%= link_to 'Show', api_library_path(id: library.red_id) if library.red_id %></td>
        <td><%= link_to 'Edit', edit_api_library_path(id: library.red_id) if library.red_id %></td>
        <td><%= link_to 'Destroy', api_library_path(id: library.red_id), method: :delete, data: { confirm: 'Are you sure?' } if library.red_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_api_library_path %>
